/* Generic styles */

body {
	font-family: Avant Garde,Century Gothic,Helvetica,Arial,sans-serif;
	font-size: 0.95rem;
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
}

img.icon {
	max-height: 16px;
}

/* Used for elements that should take a maximum width of 1000px */
.centered {
	padding: 0 40px;
	max-width: 1000px;
	margin: 0 auto;
}


/* The orange menu bar */

header {
	padding: 1.3em 1em 1em 1em; 
	background-color: #ff8000;
	display: flex;
	align-items: center;
}

img.back {
	padding-right: 0.5rem;
}

img.logo {
	width: 160px;
	padding-left: 0.5rem;
}

.middle {
	flex: 1 1 auto;
}

.current-search {
	font-size: 1.25rem;
	color: white;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
}

.flag {
	border-radius: 50%;
	height: 16px;
	width: 16px;
	border: 4px solid white;
}

.menu {
	padding-left: 1.5rem;
}


/* The dark blue covid notice */

section.covid {
	background-color: #0a3847;
}

section.covid > .centered {
	display: flex;
	align-items: center;
	height: 40px;
}

.centered > img.info {
	padding-right: 1.5rem;
}

.centered > .message {
	color: white;
	font-weight: bold;
}


/* The banner with the food image */

section.banner {
	background-image: url("images/variety_desktop.jpg");
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.restaurant-count {
	font-weight: 600;
	font-size: 2.25rem;
	color: white;
}

/* The food style filter */

section.styles {
	background-color: #f8f5f2;
	font-family: Roboto Slab,Arial,serif;
}
section.styles > .centered {
	display: flex;
	justify-content:space-between;
	align-items: center;
	height: 64px;
}

.centered > .style {
	padding: 0 12px;
	color: #615f5e;
}

.centered > .style:hover {
	color: #ff8000;
}

.centered > .selected {
	background-color: #ff8000;
	color: white;
	border-radius: 15px;
	padding-top: 5px;
    padding-bottom: 5px;
}

.centered > .more {
	font-weight: 700;
	color: #ff8000;
}



/* The search box */

section.search {
	/* Hint: you don't actually need to get the search icon inside the <input>. Instead you can hide the border of the <input> and create your own border. */
	padding: 18px 0px;
}

div.box {
	border: 1px solid #d7d7d7;
	display: flex;
	align-items: center;
	height: 36px;
}

div.box > img {
	padding: 0px 15px;
}

div.box > input {
	border-style: hidden;
	flex: 1;
	outline: none;
}

div.box >input::placeholder {
	color: lightgrey;
}

/* The list of restaurants */
article {
	color: #666;
	font-family: Roboto Slab,Arial,serif;
	display: flex;
	justify-content: left;
	border: 1px solid #ebebeb;
	margin-bottom: 12px;
}

article:hover {
	background-color:  #ebfafa;
}

/* Left side of the results box*/
article > div.left {
	display: flex;
	justify-content: left;
	flex-direction: column;
	padding: 12px;
}

div.left > div.logo-area {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px;
}

div.logo-area > img {
	height: 70px;
	width: auto;
	padding-bottom: 6px;
}

div.left > .stars {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6px 0px;
}

article img.star {
	max-height: 11px;
}

span.count {
	color: #888888;
}


/* Right side of the box*/
article > div.right {
	display: flex;
	flex-direction: column;
	flex: 1;
	border-left: 1px solid #ebebeb;
	color: #888888;
}

article h2 {
	font-family: Avant Garde,Century Gothic,Helvetica,Arial,sans-serif;
	color: #0a3847;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 12px;
	padding-top: 12px;
}


div.right > div.styles {
	flex: 1 0 auto;
	padding-left: 12px;
}

div.right > footer {
	display: flex;	
	align-content: center;
	padding-bottom: 6px;
}

footer > .icon {
	padding: 12px 6px 12px 12px;
}

footer > .info {
	padding-top: 12px;
}